@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  font-family: $text-font;
  font-weight: 400;
  font-style: normal;
  color: black;

  @media screen and (min-width: $desktop) {
    max-width: 100vw;
  }
}