@import "_variables";
@import "_mixins";
@import "_placeholder _selectors";

.events {
  display: flex;

  &__foto {
    width: 100%;
    margin-left: 5px;
    margin-top: 81px;

    & > img {
      width: 100%;
    }
  }

  &__pattern {
    height: 100%;
  }

  &__wrapper {
    @include flex-center;
    align-items: flex-start;
    max-width: calc(100% - 152px);
    background-color: $bgc_light-beige;
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 20.3px 94px 132px;

    &__title__wrapper {
      margin-left: 8px;
      margin-top: 36px;
    }

    &__title {
      @extend %title;
    }

    &__text-wrapper {
      margin-top: 52.2px;
      border-radius: 30px;
      background-color: rgba(255, 255, 255, 0.6);
      box-shadow: 0px 4px 4px 0px $shadow;
    }

    &__text {
      @include form-margin-0;
      font-size: 20px;
      line-height: 200%;
      margin: 22px 19px 21px 22px;
    }
  }
}

.smi {
  margin: 38px 0 20px 0;

  &__wrapper {
    display: flex;
    max-width: calc(100% - 154px);
    margin: 0 auto;
    background-color: #f7f7f7;
    box-shadow: 0px 4px 4px 0px $shadow;
  }

  &__foto {
    margin: 24px 0 24px 107px;
    & > img {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 71px;

    &__title__wrapper {
      padding: 7px 16px;
      background-color: $beige;
      margin-bottom: 44px;
      margin-top: 25px;
      box-shadow: 0px 4px 4px 0px $shadow;
    }

    &__title {
      @extend %title;
    }

    &__link {
      margin-bottom: 32px;
      margin-left: -2px;
      max-width: 508px;

      & > a {
        text-decoration: none;
        line-height: 100%;
        color: black;
        font-size: 25px;

        &:hover {
          text-decoration-line: underline;
        }
      }
    }
  }
}

.pattern__basic {
  @extend %horizontal;
  margin-top: 25px;
}
