@import "_variables";
@import "_mixins";
@import "_placeholder _selectors";

.events {
	&__container {
		display: flex;
		justify-content: center;
		padding: 40px 20px;
	}

	&__wrapper {
		@include flex-center;
		align-items: center;
		width: 86%;
		background-color: $bgc_light-beige;
	}

	&__pattern1,
	&__pattern2 {
		width: 7%;
		background-image: url("../images/events_and_smi/rectangle.png");
		background-repeat: repeat-y;
		background-size: 90%;
		background-position: center top;
	}

	&__pattern1 {
		margin-right: 10px;
	}

	&__pattern2 {
		margin-left: 10px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 50%;
		padding: 7% 2% 7% 5%;

		&__title {
			margin-block-start: 0;
			margin-block-end: 0;
			font-family: $heading1-font;
			color: $brown;
			font-size: 4.4vw;
			text-shadow: 1px 1px 1px $dark-stroke_color;
			line-height: 115.2%;
		}

		&__text-wrapper {
			margin-top: 10%;
			border-radius: 25px;
			background-color: rgba(255, 255, 255, 0.6);
			box-shadow: 0px 4px 4px 0px $shadow;
		}

		&__text {
			@include form-margin-0;
			font-size: 20px;
			line-height: 200%;
			margin: 20px;
		}
	}

	&__photo {
		width: 50%;
		padding: 0 5% 0 2%;

		& > img {
			width: 100%;
			border-radius: 25px;
		}
	}
}

/****************************************** Медиа для 1560px+ ************************************************/
@media screen and (min-width: $large-desktop) {
	.events {
		&__container {
			padding: 40px 20px;
		}

		&__wrapper {
			width: 60%;
		}

		&__pattern1,
		&__pattern2 {
			background-size: 65%;
		}

		&__content__title {
			font-size: 3.8vw;
		}

		&__content__text {
			font-size: 1.3vw;
			line-height: 170%;
			margin: 5%;

			&-wrapper {
				margin-top: 15%;
			}
		}
	}
}

/****************************************** Медиа для 1060-1280px ************************************************/
@media screen and (min-width: $big-tablet) and (max-width: $desktop) {
	.events {
		&__content {
			&__title {
				font-size: 4.4vw;
			}

			&__text {
				font-size: 1.7vw;
				line-height: 160%;

				&-wrapper {
					margin-top: 17%;
					border-radius: 15px;
				}
			}
		}
	}
}

/****************************************** Медиа для 768-1060px ************************************************/
@media screen and (min-width: $tablet) and (max-width: $big-tablet) {
	.events {
		&__pattern1,
		&__pattern2 {
			background-size: 80%;
		}

		&__content {
			&__title {
				font-size: 4.8vw;
			}

			&__text {
				font-size: 1.8vw;
				line-height: 170%;

				&-wrapper {
					margin-top: 15%;
					border-radius: 10px;
				}
			}
		}
	}
}

/****************************************** Медиа для 551-768px ************************************************/
@media screen and (min-width: 551px) and (max-width: $tablet) {
	.events {
		&__container {
			padding: 5px;
		}

		&__wrapper {
			flex-direction: column;
			align-items: center;
		}

		&__content {
			width: 80%;
			padding: 5% 0 7% 0;

			&__title {
				text-align: center;
				font-size: 7vw;
			}

			&__text {
				font-size: 2.5vw;
				text-align: center;
				line-height: 170%;
				margin: 3%;

				&-wrapper {
					margin-top: 7%;
					border-radius: 10px;
					width: 90%;
				}
			}
		}

		&__photo {
			width: 70%;
			padding: 0 0 7% 0;
		}
	}
}

/****************************************** Медиа для 375-550px ************************************************/
@media screen and (min-width: $mobile) and (max-width: 550px) {
	.events {
		&__container {
			padding: 5px;
		}

		&__wrapper {
			flex-direction: column;
			align-items: center;
		}

		&__content {
			width: 100%;
			padding: 7% 5% 7% 5%;

			&__title {
				text-align: center;
				font-size: 10vw;
			}

			&__text {
				font-size: 2.9vw;
				text-align: center;
				line-height: 170%;
				margin: 5%;

				&-wrapper {
					margin-top: 7%;
					border-radius: 10px;
					width: 90%;
				}
			}
		}

		&__photo {
			width: 100%;
			padding: 0 7% 7% 7%;
		}
	}
}

/****************************************** Медиа для 100-375px ************************************************/
@media screen and (min-width: 100px) and (max-width: $mobile) {
	.events {
		&__container {
			padding: 0;
		}

		&__pattern1,
		&__pattern2 {
			width: 5%;
			background-image: url("../images/events_and_smi/rectangle.png");
			background-repeat: repeat-y;
			background-size: 90%;
			background-position: center top;
		}

		&__pattern1 {
			margin-right: 0;
		}

		&__pattern2 {
			margin-left: 0;
		}

		&__wrapper {
			width: 90%;
			flex-direction: column;
			align-items: center;
		}

		&__content {
			width: 100%;
			padding: 7% 2%;

			&__title {
				text-align: center;
				font-size: 11vw;
			}

			&__text {
				font-size: 4.5vw;
				text-align: center;
				line-height: 170%;
				margin: 5%;

				&-wrapper {
					margin-top: 5%;
					border-radius: 10px;
					width: 90%;
				}
			}
		}

		&__photo {
			width: 100%;
			padding: 0 7% 7% 7%;
		}
	}
}
