@import "_variables";

.event_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bgc-beige;
    height: 458px;
}

.event_wrapper-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
    gap: 10px;
}

h2 {
    font-family: $heading1-font;
    color: $brown;
}

.smi__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.event_wrapper-content {

    
}
