@import "_variables";
@import "_mixins";

.events {
  display: flex;

  &__foto {
    width: 100%;
    margin-left: 5px;
    margin-top: 81px;
  }

  &__pattern {
    height: 100%;
  }

  &__wrapper {
    @include flex-center;
    align-items: flex-start;
    max-width: calc(100% - 152px);
    background-color: $bgc_light-beige;
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 20.3px 94px 132px;

    &__title__wrapper {
      margin-left: 8px;
      margin-top: 36px;
    }

    &__title {
      @include form-margin-0;
      font-family: $heading1-font;
      color: $brown;
      text-shadow: 1px 1px 1px $dark-stroke_color;
      font-size: 50px;
      line-height: 115.2%;
    }

    &__text-wrapper {
      margin-top: 52.2px;
      border-radius: 30px;
      background-color: rgba(255, 255, 255, 0.6);
      box-shadow: 0px 4px 4px 0px $shadow;
    }

    &__text {
      @include form-margin-0;
      font-size: 20px;
      line-height: 200%;
      margin: 22px 19px 21px 22px;
    }
  }
}

.smi {
  margin-top: 20px;
}

.smi_wrapper {
  @include flex-center;
  max-width: 100%;
  align-items: center;
  background-color: $light-gray;
  height: 458px;
}

.smi_wrapper-foto {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.smi_wrapper-content {
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 340px;
  gap: 10px;
}

.smi_wrapper_title {
  font-family: $heading1-font;
  max-width: 453.376px;
  color: $brown;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 57.6px; /* 115.2% */
}

.smi_text-wraper {
  width: 508px;
  height: 61px;
  color: $brown;
  font-family: $text-font;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 25px */
}
