@import "_variables";
@import "_mixins";
@import "_placeholder _selectors";

.pattern__basic {
  @extend %horizontal;
  margin-top: 0;
}

.header__wrapper {
  max-width: 100%;
  display: flex;
  align-items: center;

  .header__logo {
    margin-left: 7px;
    margin-top: -1px;
  }

  .header__menu {
    margin-left: 38px;
  }
}

.header__menu__list {
  list-style: none;
  @include flex-center;
  flex-wrap: wrap;
  width: 46vw;
  padding-inline-start: 0;

  &__item {
    @include flex-center;
    margin-right: 20px;
    padding: 7px 15px;
    cursor: pointer;

    & a {
      text-align: center;
      color: $gray;
      line-height: 22px;
      text-decoration: none;
      transition: 1ms;
      font: {
        size: 20px;
        weight: 600;
      }
    }

    &:hover {
      background-color: $hover-color;
      outline-style: none;
      transform: scale(1.1);
      -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    }
  }
}

.header__socials {
  margin-left: 30px;
  display: flex;
  gap: 24px;
  margin-top: -3px;

  &__telegram {
    box-sizing: content-box;
    width: 57px;
    height: 54px;
    padding: 3px 3px 0px 3px;
    margin-top: 5px;

    &:hover {
      background-color: $hover-color;
      border-radius: 12px;
    }
  }

  &__vkontakte {
    box-sizing: content-box;
    width: 57px;
    height: 54px;
    padding: 5px 5px 5px 5px;

    &:hover {
      background-color: $hover-color;
      border-radius: 12px;
    }
  }
}
