@import "_variables";
@import "_mixins";
@import "_placeholder _selectors";

.pattern__basic {
  @extend %horizontal;
}

.help__wrapper {
  @include flex-space-between;
  flex-wrap: wrap;
  @include form-margin-0;
  background-color: $bgc_dark-gray;
  padding: 20.5px 80px 14px 80px;
  margin-bottom: 20px;

  .help__input-form__heading {
    @include form-margin-0;
    color: $beige;
    font: {
      family: $text-railway;
      size: 18px;
      weight: 900;
    }
    text-transform: uppercase;
  }
}

.help__input-form__donation__wrapper {
  width: 510px;
  margin-top: 14.2px;
  display: flex;
  align-items: center;

  p {
    @include form-margin-0;
    color: $light-gray;
    opacity: 0.5;
    font-size: 16px;
    line-height: 150%;
  }

  .help__input-form__count {
    box-sizing: content-box;
    display: inline-flex;
    width: 123px;
    height: 23px;
    outline: none;
    padding: 0px 26.84px 0px 12px;
    margin-right: 28px;
    margin-top: 3px;
    vertical-align: middle;
    border-radius: 4px;
    border: 1px solid #ced4da;
    background-color: white;
    font-family: $text-railway;
    color: #464646;
    font-size: 16px;
  }
}

/* Help-section customised checkbox */

.help__input-form__checkbox {
  position: absolute;
  opacity: 0;
}

.help__input-form__donation-label {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top: 4px;
  color: rgba(196, 196, 196, 0.5);
  font-size: 16px;
  user-select: none;
  cursor: pointer;

  .help__input-form__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: grey;
    border: 1px grey solid;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 8px;
      top: 3px;
      width: 8px;
      height: 12px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(35deg);
    }
  }
}

.help__input-form__checkbox:checked ~ .help__input-form__checkmark:after {
  display: block;
}

/* End of customised checkbox */

.help__input-form__action {
  margin-top: 22px;

  .button {
    @include flex-center;
    @include button-padding-0;
    box-sizing: content-box;
    align-items: center;
    width: 162px;
    height: 44px;
    border-radius: 0px 5px;
    background: $bgc_dark-beige;
    cursor: pointer;

    a {
      color: white;
      text: {
        align: center;
        decoration: none;
        transform: uppercase;
      }
      font: {
        family: $text-raleway;
        size: 14px;
        weight: 800;
      }
      line-height: 145%;
    }
  }
}

.help__application-form {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  &__text {
    @include form-margin-0;
    color: $light-gray;
    opacity: 0.5;
    font-size: 14px;
    line-height: 165%;
  }

  &__phone {
    @include form-margin-0;
    margin-top: 7.2px;
    color: $beige;
    font-family: $text-railway;
    font-size: 28px;
    line-height: 165%;
  }

  &__action {
    margin-top: 7.8px;

    .button {
      @include flex-center;
      @include button-padding-0;
      box-sizing: content-box;
      align-items: center;
      width: 329px;
      height: 44px;
      border-radius: 0px 5px;
      background: $bgc_dark-beige;
      cursor: pointer;

      a {
        color: white;
        text: {
          align: center;
          decoration: none;
          transform: uppercase;
        }
        font: {
          family: $text-raleway;
          size: 14px;
          weight: 800;
        }
        line-height: 145%;
      }
    }
  }
}
