@import "_variables";
@import "_mixins";
@import "_placeholder _selectors";

.main-content {
  background: {
    image: url("../images/header_main/main-content_foto.png");
    position: top center;
    repeat: no-repeat;
  }
  overflow: hidden;
  height: 577px;
  margin-top: -1px;
  position: relative;
  z-index: 10;

  &__info__title__wrapper {
    display: inline-flex;
    height: 171px;
    padding: 6px 16px 7px 16px;
    box-sizing: border-box;
    margin-top: 55px;
    margin-left: 49px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 0px 5px;
    background: $bgc-beige;
    box-shadow: 0px 4px 4px 0px $shadow;
    text-shadow: 0px 4px 4px $shadow;
    position: relative;
    z-index: 30;
  }

  &__info__title {
    color: #fff;
    font: {
      family: $heading1-font;
      size: 80px;
      weight: 400;
    }
    line-height: normal;
    text-shadow: 2px 0 2px rgba(45, 48, 56, 0.4),
      0 2px 2px rgba(45, 48, 56, 0.4), -2px 0 2px rgba(45, 48, 56, 0.4),
      0 -2px 2px rgba(45, 48, 56, 0.4);
    -webkit-text-stroke: 1px rgba(45, 48, 56, 0.5);
  }

  &__info__text__wrapper {
    display: inline-flex;
    width: 466px;
    height: 221px;
    padding: 15px 22px 15px 16px;
    box-sizing: border-box;
    margin-top: -7px;
    margin-left: 49px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 0px 10px;
    background: rgba(32, 35, 40, 0.5);
    box-shadow: 0px 4px 4px 0px $shadow;
    position: relative;
    z-index: 20;
  }

  &__info__text {
    color: white;
    font-size: 20px;
    line-height: 170%;

    .bold-text {
      font-weight: 800;
    }
  }
}
