@mixin flex-center {
  display: flex;
  justify-content: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin button-padding-0 {
  padding-block: 0;
  padding-inline: 0;
}

@mixin form-margin-0 {
  margin-block-start: 0;
  margin-block-end: 0;
}

@mixin description-boxes-justify {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin description-boxes-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}
