@import "_variables";
@import "_mixins";
@import "_placeholder _selectors";

.smi {
  margin: 38px 0 20px 0;

  &__wrapper {
    display: flex;
    max-width: calc(100% - 154px);
    margin: 0 auto;
    background-color: #f7f7f7;
    box-shadow: 0px 4px 4px 0px $shadow;
  }

  &__foto {
    margin: 24px 0 24px 8%;
    min-width: 300px;

    &>img {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 71px;

    &__title__wrapper {
      padding: 7px 16px;
      background-color: $beige;
      margin-bottom: 44px;
      margin-top: 25px;
      box-shadow: 0px 4px 4px 0px $shadow;
    }

    &__title {
      @extend %title;
      font-size: 4vw;
    }

    &__link {
      margin-bottom: 32px;
      margin-left: -2px;
      max-width: 508px;

      &>a {
        text-decoration: none;
        line-height: 100%;
        color: black;
        font-size: 1.9vw;

        &:hover {
          text-decoration-line: underline;
        }
      }
    }
  }
}

.smi>.pattern__basic {
  display: flex;
  justify-content: center;
  margin-top: 25px;

  &>img {
    width: 100%;
    height: auto;
    display: block;
  }
}

@media screen and (min-width: $desktop) {
  .smi__wrapper {
    padding-bottom: 2vw;
  }

  .smi__content {
    margin-left: 7vw;

    &__link {
      max-width: 50vw;
    }

    &__links br {
      display: none;
    }

    &__title__wrapper {
      margin-top: 3vw;
      margin-bottom: 4vw;
    }
  }

  .smi__foto {
    margin-top: 3vw;
    height: 25vw;

    &>img {
      height: 100%;
    }
  }

  .smi>.pattern__basic {
    margin-top: 2vw;
    width: 100vw;

    &>img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

@media screen and (min-width: $big-tablet) and (max-width: $desktop) {}

@media screen and (min-width: $tablet) and (max-width: $big-tablet) {
  .smi__wrapper {
    max-width: 95vw;
  }

  .smi__content__link>a {
    font-size: 2.2vw;
  }
}

@media screen and (max-width: $tablet) {
  .smi {
    margin-bottom: 2vw;

    &__wrapper {
      max-width: 90vw;
      flex-direction: column-reverse;
      margin: 0 auto;
    }

    &__content {
      margin: 0 auto;

      &__title {
        font-size: 5vw;

        &__wrapper {
          align-self: center;
          margin: 20px 0 20px 0;
        }
      }

      &__link {
        margin-bottom: 5px;

        &>a {
          font-size: 2.3vw;
        }
      }

      &__links br {
        display: none;
      }
    }

    &__foto {
      width: 40vw;
      min-width: 100px;
      margin: 0 auto;

      &>img {
        margin-top: 10px;
        width: 100%;
      }
    }
  }

  .smi>.pattern__basic {
    margin-top: 2vw;
    width: 100vw;
  }

  .pattern__basic>img {
    width: 100%;
    height: auto;
    display: block;
  }
}

@media screen and (max-width: $mobile) {
  .smi__content__link>a {
    font-size: 3vw;
  }

  .smi__content__links {
    margin-left: 20px;
    margin-right: 20px;
  }
}