// Шрифты
$heading1-font: "Pochaevsk", Helvetica, sans-serif;
$heading2-font: "Edisson", Helvetica, sans-serif;
$text-font: "Montserrat", Helvetica, sans-serif;
$text-railway: "Railway", Helvetica, sans-serif;
$text-raleway: "Raleway", Helvetica, sans-serif;

// Цвет шрифта
$beige: #c8aa86;
$brown: #603c22;
$gray: #59606c;
$light-gray: #c4c4c4;
$light-stroke_color: rgba(45, 48, 56, 0.15);
$dark-stroke_color: rgba(45, 48, 56, 0.5);
$shadow: rgba(0, 0, 0, 0.25);

// Цветовая палитра
$bgc_light-beige: rgba(200, 170, 134, 0.2);
$bgc-beige: rgba(200, 170, 134, 0.7);
$bgc_dark-beige: rgba(200, 170, 134, 1);
$bgc_gray: rgba(217, 217, 217, 0.7);
$bgc_light-gray: rgba(250, 250, 250, 1);
$bgc_dark-gray: rgba(70, 71, 74, 1);
$hover-color: rgba(200, 170, 134, 0.4);
$bgc_white: rgba(255, 255, 255, 0.9);
$bgc_light-white: rgba(255, 255, 255, 0.3);

// Размеры экранов
$mobile: 375px;
$tablet: 768px;
$big-tablet: 1060px;
$desktop: 1280px;
$large-desktop: 1560px;