.action_wrapper {
  padding: 20px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: flex-end;
}

.action_wrapper_title {
  color: #603c22;
  font-family: "Pochaevsk";
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.action_title {
  padding-top: -20px;
  margin-bottom: -1px;
  margin-top: -1px;
}

.action_wrapper_content {
  display: flex;
  flex-direction: column;

  padding-left: 20px;
  padding-right: 20px;
  margin-left: 28px;
  margin-right: 28px;

  text-align: justify;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.5px;

  background-color: #f7f7f7;
}

.action_wrapper_pattern_1 {
  float: left;
  max-width: 90px;
  max-height: 1334px;
}

.action_wrapper_pattern_2 {
  float: right;
  max-width: 90px;
  max-height: 1334px;
}

.work {
  width: 1280px;
  height: 1400px;
  margin-bottom: 75px;
}

.work_wrapper {
  margin-top: -50px;
  padding: 25px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 30% 20% 30%;
  align-items: center;
  justify-content: space-around;
  justify-items: stretch;
}

.image {
  max-width: 225px;
  max-height: 341px;
  align-items: center;
  padding-bottom: 19.85px;
}
.work__text{
  height: 80.1px;
  width: 246px;
}
.work_text_1 {
  grid-row: 1/2;
  grid-column: 1/3;
  display: flex;
  max-width: 609px;
  max-height: 400px;

  padding-right: 15px;
  border-right: 1px solid black;

  text-align: end;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.work_name_1 {
  grid-row: 1/2;
  grid-column: 3/5;
  max-width: 600px;
  max-height: 400px;

  display: flex;
  align-items: flex-end;

  padding-left: 15px;

  color: #c8aa86;
  font-family: Edisson;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  -webkit-text-stroke: 0.1px $shadow;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.work__image_1 {
  grid-row: 2/3;
  grid-column: 1/2;
  max-width: 293px;
  max-height: 475.636px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 170%;

  background-color: rgba(200, 170, 134, 0.2);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.work__image_2 {
  grid-row: 2/3;
  grid-column: 2/3;
  max-width: 293px;
  max-height: 475.636px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 170%;

  background-color: rgba(200, 170, 134, 0.2);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.work__image_3 {
  grid-row: 2/3;
  grid-column: 3/4;
  max-width: 293px;
  max-height: 475.636px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 170%;

  background-color: rgba(200, 170, 134, 0.2);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.work__image_4 {
  grid-row: 2/3;
  grid-column: 4/5;
  max-width: 293px;
  max-height: 475.636px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 170%;

  background-color: rgba(200, 170, 134, 0.2);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.work_text_2 {
  grid-row: 3/4;
  grid-column: 1/3;

  display: flex;
  width: 611px;
  height: 177.217px;

  align-items: center;

  padding-right: 15px;
  
  
  margin-top: 60px;
  margin-bottom: 60px;
  

  border-right: 1px solid black;

  text-align: end;
  text-align: right;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.work_name_2 {
  grid-row: 3/4;
  grid-column: 3/5;
  width: 417px;
  height: 177.217px;
  
  display: flex;
  align-items: flex-end;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-left: 15px;
  
  
  color: #c8aa86;
  font-family: Edisson;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  -webkit-text-stroke: 0.1px $shadow;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.work__image_5 {
  grid-row: 4/5;
  grid-column: 1/2;
  max-width: 293px;
  max-height: 475.636px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 170%;

  background-color: rgba(200, 170, 134, 0.2);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.work__image_6 {
  grid-row: 4/5;
  grid-column: 2/3;
  max-width: 293px;
  max-height: 475.636px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 170%;

  background-color: rgba(200, 170, 134, 0.2);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.work__image_7 {
  grid-row: 4/5;
  grid-column: 3/4;
  max-width: 293px;
  max-height: 475.636px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 170%;

  background-color: rgba(200, 170, 134, 0.2);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.work__image_8 {
  grid-row: 4/5;
  grid-column: 4/5;
  max-width: 293px;
  max-height: 475.636px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 170%;

  background-color: rgba(200, 170, 134, 0.2);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.work__image_1:hover {
  box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.03);
  border: none;
}
.work__image_2:hover {
  box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.03);
  border: none;
}
.work__image_3:hover {
  box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.03);
  border: none;
}
.work__image_4:hover {
  box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.03);
  border: none;
}
.work__image_5:hover {
  box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.03);
  border: none;
}
.work__image_6:hover {
  box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.03);
  border: none;
}
.work__image_7:hover {
  box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.03);
  border: none;
}
.work__image_8:hover {
  box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.03);
  border: none;
}
