@import "_variables";
<<<<<<< HEAD
@import "_header_main";
@import "_work";
=======
@import "_events";
@import "_header_main_help";
>>>>>>> 8a7052d83348af93a70b0e8486b6ee1a7f0df8d4

.container {
  max-width: 1280px;
  margin: 0 auto;
  font-family: $text-font;
  font-weight: 400;
  font-style: normal;
  color: black;
}
